:root {
    --primary-color: #141529;
    --secundary-color: #B7C7CC;
    --terciary-color: #63130E;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: ; */
}

body {
    color: white;
    background-color: var(--primary-color);
}

/* Header */

header {
    background-color: #141529;
    color: white !important;
}

.nav-item .nav-link {
    color: white;
}

/* Sect */
.container-banner {
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/banner.jpg');
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: cover;
}

.container-banner .btn-banner {
    padding: 10px 30px;
    background-color: var(--secundary-color);
    border: none;
    border-radius: 10px;
    transition: background-color 0.4s;
}

.container-banner .btn-banner:hover {
    background-color: #94a1a5;
}

.container-banner h4 {
    font-size: 3rem;
    text-align: center;
    max-width: 800px;
    width: 90%;
}

.container-banner p {
    font-size: 2rem;
    max-width: 750px;
    width: 85%;
    text-align: center;
}

.container-banner h4, .container-banner p {
    color: white;
}

/* Search section */

.container-search {
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-search h4 {
    margin: 50px auto;
    text-align: center;
}

.container-search form input {
    padding: 10px;
    border-radius: 15px;
    border: none;
}

.container-search form input[type="button"]:hover {
    background-color: #94a1a5;
}

.section-movies h4 {
    text-align: center;
    font-size: 2rem;
}

/* Section movies */

.container-movies {
    width: 90%;
    padding: 100px 0;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}



.container-movies .card {
    width: 200px;
    background-color: var(--secundary-color);
}

/* Footer */

footer {
    background-color: var(--terciary-color);
    padding: 9px;
}

footer p {
    margin: 0;
    text-align: center;
}

/* ------ LOGIN & SIGNUP ------- */

.form-container {
    color: black;
    width: 500px;
    background-color: var(--secundary-color);
    padding: 50px 35px;
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 0 3px 17px -5px #8b989a  ;
}
.form-container .form-group {
    margin-bottom: 15px;
}

.form-container label {
    margin-bottom: 3px;
    padding-left: 10px;
}

.form-container form input {
    display: block;
    margin: auto;
    width: 100%;
    padding: 7px;
    border: none;
    border-radius: 8px;
}

.form-container form button {
    width: auto;
    padding: 10px;
    display: block;
    background-color: var(--terciary-color);
    color: white;
    transition: background-color 0.4s;
    border: none;
    border-radius: 15px;
    margin: 20px auto 10px;
}

.form-container form button:hover {
    background-color: rgb(139, 45, 45);
}

.form-container .reset-password-new-acc {
    font-size: 0.8rem;
}

.form-container .reset-password-new-acc a {
    color: #60686c;
}

.error-msg {
    color: var(--terciary-color);
    font-size: 0.8rem;
    padding-left: 5px ;
}